body, html {
    overflow-x:hidden;
}

h1 {
    text-transform: uppercase;
    font-family:'Dosis',sans-serif !important;
    font-weight: 700;
}

.title {
    text-align:center;
}

h2, span, a, p, input, button {
    font-family:'Lato', sans-serif !important;
}

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-size:13px;
    font-weight: bold;
    padding-bottom:10px !important;
}

h2 {
    font-size:1.2em;
}

.category::after {
    content:'.';
}

span, p {
    font-size:16px;
    line-height:1.6;
    word-wrap:break-word;
}

#header {
    //background-image:url(img/profile.png);
    background-size:cover;
    background-position:top center;
    background-attachment: fixed;
}

section, .linkbox {
    text-align: center;
}

section:nth-of-type(even) {
    background:#f8f8f8;
}
.gallery img {
    border:10px solid #f8f8f8;
}

.container,.container-fluid {
    padding:5%;
}

#code p {
    line-height: 1 !important;
    font-size:1em !important;
    font-family:monospace !important;
}

.ng {
    color:red;
    font-size:1.5em;
}

.ok {
    color:green;
    font-size:1.3em;
}

.ng, .ok {
    font-weight:700;
    padding-right:2px;
}

ul li, ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

.linkbox {
    border:1px solid blue;
}

#about {
    background-color:#007bff !important;
    color:white;
}

.special {
    color:#007bff !important;
}

#slots ol {
    display:inline-block;
    padding-left:0px;
    cursor:default;
}

.gallery .img-fluid {
    max-height:200px !important;
    object-fit:cover;
    object-position:50% 0%;
}