@font-face{font-family:'Whitney Bold';src:url(fonts/whitneybold.ttf);}
@font-face{font-family:'Whitney';src:url(fonts/whitney.otf);}
@font-face{font-family:'Source Code Pro';src:url(fonts/SourceCodePro-Regular.ttf);}
*{--primary:#00BCD4;--primaryt:#212121;--secondaryt:#d3d3d3;}
:root{--main:#e91e63;--accent:#fff;}
html, body{margin:0;padding:0;border:0;overflow=x:hidden;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;cursor:default;flex-basis:100%;width:100%;font-family:Whitney, sans-serif;}
p, span, option, input, select{font-family:Whitney;}
body{background:#1b1b1b;}
#topcontain{display:flex;justify-content:center;align-items:center;background-image:url(img/selfie.png);background-size:cover;background-repeat:no-repeat;background-attachment:fixed;color:var(--primaryt);}
.topbox{height:auto;}
.topbox > .inner{text-align:center;}
h1#title{padding-top:15px;}
h1{font-family:Whitney Bold, sans-serif;font-size:200%;}
h1, h2, h3{margin:0;}
h2{font-size:155%;}
h3{font-size:130%;}
p{font-size:16px;}
.profile{background-image:url(img/profile.png);background-size:cover;background-repeat:no-repeat;border-radius:50%;width:200px;height:200px;margin:0 auto;box-shadow:0px 0px 10px #ccc;}
.subtitle{font-size:12px;opacity:0.5;}
#links{flex-shrink:0
display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:none;height:100px;justify-content:space-around;margin:0 auto;padding:0;}
#links a{list-style-type:none;display:inline-block;width:calc(100%/6);flex-grow:1;flex-basis:auto;height:100px;text-align:center;line-height:100px;text-decoration:none;}
a,
a:link,
a:visited,
a:focus,
a:active{color:var(--secondaryt);}
a:hover{color:var(--primaryt);}
#links li{font-size:15px;background:#1b1b1b;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;cursor:pointer;}
#links li:hover{background:#f1f1f1;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;}
#bottomcontain{width:100%;flex-basis:100%;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-shrink:0
margin:0 auto;flex-direction:column;align-items:center;justify-content:space-center;}
#bottomcontain > .box{flex-basis:100%;margin:0 auto;width:100%;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:space-around;padding:25px 0px;}
#bottomcontain .text{padding:25px;height:auto;}
#bottomcontain > .box:first-of-type{padding-top:50px;}
#bottomcontain > .box:last-of-type{padding-bottom:50px;}
#bottomcontain .inner{width:90%;height:auto;text-align:center;background:#fff;border-radius:5px;flex-shrink:0
display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center;justify-content:space-around;}
select, input{-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;text-indent:0.01px;text-overflow:'';border:2px solid #f1f1f1;color:#303030;box-shadow:none !important;outline:none !important;transition:0.3s;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type="number"]{-moz-appearance:textfield;}
option{box-shadow:none;border:0px !important;}
:invalid{border-color:#ee6565;transition:0.3s;}
#bottomcontain ul li{list-style-type:square;}
#ok{color:#9BCB6C;}
#ng{color:#F74A8A;}
#bottomcontain ul{padding:0;}
#slots li, #process li, .sample li{list-style-type:none !important;}
#slots li:nth-child(odd){font-weight:700;text-transform:uppercase;}
#slots li:nth-child(even){text-transform:capitalize;margin-bottom:15px;}
.slider{margin:0 auto;width:600px;min-width:initial;}
.slider img{margin:0 auto;max-height:500px;max-width:600px;}
.slick-prev::before, .slick-next::before{color:rgba(155,155,155,0.5) !important;}
.code{font-family:Source Code Pro, monospace;font-size:14px;border:2px solid #ccc;background:#eeeeee;border-radius:5px;padding:25px;-moz-user-select:text;-khtml-user-select:text;-webkit-user-select:text}
#output{padding-top:25px;font-size:150%;}
@media (max-width: 700px) {
	#bottomcontain .text {
		max-width: 90%;
	}
	p, #links li, #calculator, .text {
		font-size:12px;
	}
	#calculator input {
		width:50px;
	}
	topbox > .inner {
		width: 80%;
		margin: 0 auto;
	}
	.slider {
		width:75%;
		margin:0 auto;
	}
}